
<div class="tab">
  <% @by_years.keys.each do | value |%>
    <button class="tablinks" onclick="openCity(event, <%= value %> )">London</button>
  <% end %>
</div>

<% @by_years.keys.each do | value |%>
  <div id="<%=value%>" class="tabcontent">
    <h3><%=value%> </h3>
    <table>
      <tr>
        <th> categorie </th><th> date </th> <th> localisation </th> <th>liens</th> </tr>
      <tr>
        <% @by_years[value].each do |crash| %>
          <tr>
            <td> <%= crash[2] %> </td>  <td> <%= crash[0].strftime("%m/%d/%Y") %> </td> <td> <%= crash[1] %> </td> <td><%= link_to "show", crash_path(crash[3]) %> </td>
          </tr>
        <% end%>
    </table>
  </div>
<% end %>


<table>
  <tr>
    <th> categorie </th><th> date </th> <th> localisation </th> <th>liens</th> </tr>
  <% @crashs.each do |crash| %>
    <tr>
      <td> <%= crash[2] %> </td>  <td> <%= crash[0].strftime("%m/%d/%Y") %> </td> <td> <%= crash[1] %> </td> <td><%= link_to "show", crash_path(crash[3]) %> </td>
    </tr>
  <% end%>
<% end %>
</table>
